@import "tailwindcss";

:root {
  --background-color: #f2f0ef;
}

@font-face {
  font-family: "satoshi";
  src: url("/Satoshi-Variable.ttf") format("truetype");
}

.satoshi {
  font-family: "satoshi", sans-serif;
}

html {
  scroll-behavior: smooth;
}

*:not(.timeline) {
  background-color: var(--background-color);
}
